// SPDX-License-Identifier: (GPL-2.0+ OR X11)
/*
 * Copyright 2019 George Hilliard <thirtythreeforty@gmail.com>
 */

/dts-v1/;
#include "suniv-f1c100s.dtsi"

#include <dt-bindings/gpio/gpio.h>

/ {
	model = "PocketPill";
	compatible = "licheepi,licheepi-nano", "allwinner,suniv-f1c100s",
		     "allwinner,suniv";

	aliases {
		serial0 = &uart0;
		spi0 = &spi0;
		spi1 = &spi1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	reg_vcc3v3: vcc3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	gpio_poweroff {
		compatible = "gpio-poweroff";
		gpios = <&pio 3 10 GPIO_ACTIVE_LOW>; /* PD10 */
		timeout-ms = <3000>;
	};

	gpio_keys {
		compatible = "gpio-keys";

		key_a {
			label = "GPIO Key A";
			gpios = <&pio 3 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			linux,code = <30>; /* A */
			gpio-key;
		};
		key_x {
			label = "GPIO Key X";
			gpios = <&pio 3 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			linux,code = <45>; /* X */
			gpio-key;
		};
		key_b {
			label = "GPIO Key B";
			gpios = <&pio 3 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			linux,code = <48>; /* B */
			gpio-key;
		};
		key_y {
			label = "GPIO Key Y";
			gpios = <&pio 3 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			linux,code = <21>; /* Y */
			gpio-key;
		};
		start {
			label = "GPIO Key Start";
			gpios = <&pio 3 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			linux,code = <28>; /* ENTER */
			gpio-key;
		};
		select {
			label = "GPIO Key Select";
			gpios = <&pio 3 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			linux,code = <57>; /* SPACE */
			gpio-key;
		};
		key_right {
			label = "GPIO Key Right";
			gpios = <&pio 3 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			linux,code = <106>; /* Right */
			gpio-key;
		};
		key_down {
			label = "GPIO Key Down";
			gpios = <&pio 3 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			linux,code = <108>; /* Down */
			gpio-key;
		};
		key_left {
			label = "GPIO Key Left";
			gpios = <&pio 3 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			linux,code = <105>; /* Left */
			gpio-key;
		};
		key_up {
			label = "GPIO Key Up";
			gpios = <&pio 3 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			linux,code = <103>; /* Up */
			gpio-key;
		};
		key_dummy {
			label = "GPIO Dummy Key";
			gpios = <&pio 3 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			linux,code = <1>; /* ESC */
			gpio-key;
		};

	};

};

&pio {
	spi1_pins_pe: spi1-pins-pe {
		pins = "PE9", "PE7", "PE10", "PE8"; /* (PE10/MISO not used and wired to bat_alert) */
		function = "spi1";
	};
};

&spi1 {
	#address-cells = <1>;
	#size-cells = <0>;
    pinctrl-names = "default";
    pinctrl-0 = <&spi1_pins_pe>;
	status = "okay";
	bias-pull-down;

	st7789v@0 {
		compatible = "sitronix,st7789v";
		reg = <0>;
		power-supply = <&reg_vcc3v3>;

		reset-gpios = <&pio 4 5 GPIO_ACTIVE_LOW>;
		dc-gpios = <&pio 4 4 GPIO_ACTIVE_LOW>;

		fps = <60>;
		buswidth = <8>;

		width = <240>;
		height = <240>;
		
		spi-max-frequency = <96000000>;
		spi-cpol;
		spi-cpha;

		rgb;
		rotate = <90>;

		debug = <1>;

	};
};

&tcon0 {
	status = "disabled";
};

&tcon0_out {
	status = "disabled";
};

&be0 {
	status = "disabled";
};

&de {
	status = "disabled";
};

&mmc0 {
	vmmc-supply = <&reg_vcc3v3>;
	bus-width = <4>;
	broken-cd;
	status = "okay";
};

&lradc {
	status = "disabled";
};


&otg_sram {
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pe_pins>;
	status = "okay";
};

&usb_otg {
	dr_mode = "peripheral";
	status = "okay";
};

&usbphy {
	usb0_id_det-gpio = <&pio 4 2 GPIO_ACTIVE_HIGH>; /* PE2 */
	status = "okay";
};